body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
}
.main-container {
  width: 800px;
  background: rgb(255, 255, 255);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  background: #2979ff;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-item {
  display: flex;
  width: 130px;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-item:hover {
  display: flex;
  width: 130px;
  height: 32px;
  justify-content: center;
  align-items: center;
  color: #2979ff;
  background: white;
  font-weight: bold;
  border: 1px solid #2979ff;
  border-radius: 20px;
  transition: 0.2s;
}

.nav-item-selected {
  display: flex;
  width: 130px;
  height: 32px;
  justify-content: center;
  align-items: center;
  color: #2979ff;
  background: white;
  font-weight: bold;
  border: 1px solid #2979ff;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header h1 {
  color: #2979ff;
  background: white;
  border: 2px solid #2979ff;
  width: 800px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.education-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 10px;
  border-radius: 10px;
  height: 175px;
}

.education-card-header {
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid black;
}

.education-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.education-card-footer {
  display: flex;
  border-top: 1px solid black;
}
.education-card-footer span {
  margin-top: 7px;
}
.education-card-body {
  width: 250px;
  height: 90px;
}

.resume-container {
  display: flex;
  width: 400px;
  padding: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
}

.experience-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  height: 315px;
}

.experience-card-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 13px;
}
.experience-card-shorts {
  display: flex;
  flex-direction: column;
  width: 250px;
  font-size: 11px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  background: #2979ff;
  width: 200px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
  font-weight: 600;
}

.controls-button {
  color: #2979ff;
  border: 2px solid #2979ff;
  font-weight: bold;
  border-radius: 4px;
  background: white;
  height: 25px;
}

.controls-button:hover {
  color: white;
  background: #2979ff;
  border: 2px solid white;
}

.regular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 600px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.project-highlight-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid black;
  height: 230px;
  padding: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 12px;
}

.project-tech-chip {
  width: 180px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: #2979ff 0px 0px 0px 3px;
  color: #2979ff;
  font-weight: 600;
}

.project-chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.project-tech-icon {
  width: 20px;
}
.project-highlight-card-body {
  width: 400px;
  height: 90px;
  font-size: 14px;
}

.project-highlight-card-header {
  background: #2979ff;
  color: white;
  font-weight: 800;
  width: 420px;
  margin-left: -10px;
  margin-top: -10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.project-highlight-card-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.project-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  background: #2979ff;
  width: 110px;
  height: 25px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
  font-weight: 600;
}
.project-button-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-controls-button {
  color: #2979ff;
  border: 2px solid #2979ff;
  font-weight: bold;
  border-radius: 4px;
  background: white;
  height: 25px;
  width: 130px;
  height: 35px;
}
.project-controls-button:hover {
  color: white;
  background: #2979ff;
  border: 2px solid white;
}
.project-card-header {
  display: flex;
  width: 633px;
  background: #2979ff;
  margin-left: -16px;
  margin-top: -17px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
}
.projects {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.projects-control-general {
  display: flex;
  flex-direction: column;
  width: 130px;
}
